page-workout-detail-new {
    .scroll-zoom-wrapper {
        white-space: nowrap;
    }

    .card-horizontal {
        width: 200px !important;
        height: 120px !important;
        display: inline-block;
    }

    ion-scroll {
        min-height: 140px; 
        height: auto;

            .scroll-content {
            padding: 0px !important;
        }    
    }
    .workout-detail-header{
        color: black;
        font-size: 25px;
        text-align: center;
        //background-color: #eeeeee;
    }

    .button-left{
        left: -18px;
        top: -6px;
    }

    .button-right{
        right: -18px;
        top: -6px;
    }
    .grid-for-horizontal{
      //  height: 50px;
    }

    .card-vertical{
        top: 20px;
    }
}
