<!--
  Generated template for the WorkoutDetailNewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="gymHeader">
    <ion-title text-center>WORKOUT OVERVIEW</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding color="gymContent">
  <ion-grid style="background-color: whitesmoke;">
    <ion-row>
      <ion-col col-12 style="font-size: 16px; text-align: center;">
        <button class="button-left" ion-button color="light" small icon-start (click)="previousButton(selectedDate)">
          <ion-icon name='arrow-back'></ion-icon>
        </button>
        {{selectedDate | date:'EEEE, d MMMM y'}}
        <button class="button-right" ion-button color="light" small icon-end (click)="nextButton(selectedDate)">
          <ion-icon name='arrow-forward'></ion-icon>
        </button>
      </ion-col>
      <!--<ion-col col-2>
        <button ion-button clear (click)="onCheckMultiple(1)">Select All</button>
      </ion-col>-->
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-for-horizontal">
    <ion-row style="background-color: whitesmoke;">
      <ion-col col-10>
      </ion-col>
      <ion-col col-2>
        <ion-checkbox [checked]="isChecked"></ion-checkbox>
      </ion-col>
    </ion-row>

    <ion-scroll scrollX="true" direction="x">
      <ion-card class="card-horizontal" *ngFor="let exercise of workouts" style="background: white">
        <ion-grid>
          <ion-row>
            <!-- <ion-col col-4>
              <img src="../../assets/icon/workout.png">
            </ion-col> -->
            <ion-col col-12 style="text-align: left; top: -5px; font-size: 26px;">{{exercise.name}}
              <h3 style="padding-top: 12px;">10kg x 15 | 10kg x 15 | 10kg x 15 <a style="color:blue;"
                  (click)="viewMoreInfoAboutExercise(exercise)">...More</a></h3>
              <!-- <h3>1kg/10x/1min</h3> -->
              <!-- <h3>1kg/10x/1min <a style="color:blue;" (click)="viewMoreInfoAboutExercise(exercise)">...More</a></h3> -->

            </ion-col>
            <ion-col col-2>
              <ion-checkbox [checked]="isChecked"></ion-checkbox>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-scroll>
    <ion-row style="background-color: whitesmoke;">
      <ion-col col-10>
      </ion-col>
      <ion-col col-2>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-card *ngFor="let exercise of workouts" style="background: white" class="card-vertical">
    <ion-grid>
      <ion-row>
        <ion-col col-12 style="text-align: left; top: -5px; font-size: 26px;">{{exercise.name}}
          <h3 style="padding-top: 12px;">10kg x 15 | 10kg x 15 | 10kg x 15 <a style="color:blue;"
              (click)="viewMoreInfoAboutExercise(exercise)">...More</a></h3>
        </ion-col>
        <!-- <h3>1kg/10x/1min</h3> -->
        <!-- <h3>1kg/10x/1min <a style="color:blue;" (click)="viewMoreInfoAboutExercise(exercise)">...More</a></h3> -->
        <!-- <ion-col col-4>
          <img src="../../assets/icon/workout.png">
        </ion-col> -->
        <!-- <ion-col col-12 style="text-align: left; top: -5px; font-size: 26px;">{{exercise.name}}
          <h3 style="padding-top: 12px;">1kg/10x/1min</h3>
          <h3>1kg/10x/1min</h3>
          <h3>1kg/10x/1min <a style="color:blue;" (click)="viewMoreInfoAboutExercise(exercise)">...More</a></h3>

        </ion-col> -->
        <ion-col col-2>
          <ion-checkbox [checked]="isChecked"></ion-checkbox>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button class="buttonMargin cRadius"
          style="font-size: larger; color: white; background-color: #5856d6; right: -26px;" ion-button
          (click)="onCheckMultiple(1)">SELECT ALL</button>
      </ion-col>
      <ion-col col-6>
        <button class="buttonMargin cRadius"
          style="font-size: larger; color: white; background-color: #ff5e3a; right: -26px;" ion-button
          (click)="saveLog()">DONE</button>
      </ion-col>
    </ion-row>


  </ion-grid>

  <!--<div padding>
    <button class="buttonMargin cRadius" style="font-size: larger; color: white; background-color: rgb(57, 93, 155); "
      ion-button large full (click)="saveLog()">SAVE LOG</button>
  </div>-->

</ion-content>