<!--
  Generated template for the GraphModalsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-toolbar>
      <ion-title text-center>
        GRAPH
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


  <ion-content>
    <div *ngIf = "isShowWeightGraph">
    <ion-grid padding-top=10px>
      <ion-row>
        <ion-col size="12">
          <span class="graph-header"> Weight</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <canvas style='height:300%;width:150%' #lineChartWeight></canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div *ngIf = "isShowGirthtGraph">
    <ion-grid padding-top=10px>
      <ion-row>
        <ion-col size="12">
            <span class="graph-header"> Total Girth/Circumference</span>
         
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <canvas style='height:300%;width:150%' #lineChartGirth></canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> 

  <div *ngIf = "isShowSkinFoldGraph">
    <ion-grid padding-top=10px>
      <ion-row>
        <ion-col size="12">
            <span class="graph-header">Total Skin Folds</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <canvas style='height:300%;width:150%' #lineChartSkinFold></canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf = "isShowWaterGraph">
    <ion-grid padding-top=10px>
      <ion-row>
        <ion-col size="12">
            <span class="graph-header"> Water %</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <canvas style='height:300%;width:150%' #lineChartWaterPer></canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf = "isShowBmiGraph">
    <ion-grid padding-top=10px>
      <ion-row>
        <ion-col size="12">
            <span class="graph-header"> BMI</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <canvas style='height:300%;width:150%' #lineChartBMI></canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf = "isShowBodyFatGraph">
    <ion-grid padding-top=10px>
      <ion-row>
        <ion-col size="12">
            <span class="graph-header">  Body fat %</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <canvas style='height:300%;width:150%' #lineChartBodyfatPer></canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf = "isShowLeanMassGraph">
    <ion-grid padding-top=10px>
      <ion-row>
        <ion-col size="12">
            <span class="graph-header">Lean Mass</span>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <canvas style='height:300%;width:150%' #lineChartLeanMass></canvas>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
  </ion-content>
