<!--
  Generated template for the WorkoutDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gymHeader">
    <ion-title align="center">{{workout.name == null ? 'WORKOUT DETAILS': workout.name}}</ion-title>
  </ion-navbar>
  <ion-toolbar no-border-top color="light">
    <ion-segment class="workout-details-header" [(ngModel)]="workouts">
      <ion-segment-button value="PREVIEW">
        PREVIEW
      </ion-segment-button>
      <ion-segment-button value="RECORD">
        RECORD
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content padding color="gymContent">
  <div [hidden]="workouts != 'PREVIEW'">
    <ion-grid *ngFor="let wCategory of workoutCategories">
      <ion-row (click)="viewMoreInfoAboutExercise(wCategory)" class="workout-detail">
        <ion-col>
          <!--<div><img src="../../assets/imgs/YellowishAgedBabirusa-size_restricted.gif"></div>-->
          <div>
            <ion-img width="30" height="30" src="../../assets/icon/workout.png"></ion-img>
          </div>
        </ion-col>
        <ion-col>
          <div style="font-size: 21px; color: #037aff; padding-top: 6px;">{{wCategory.name | uppercase}}</div>
        </ion-col>
        <ion-col>
          <!--<div style="padding-top: 6px;"><button ion-button small>More Info</button></div>-->
          <div>
            <ion-buttons end><button ion-button clear small end style="color: #f1f3f4">
                <ion-icon name="eye" style="color: #4084dd;"></ion-icon>
              </button></ion-buttons>
          </div>
        </ion-col>
      </ion-row>
      <table>
        <tr>
          <th>Sets</th>
          <th>Weight</th>
          <th>Reps</th>
          <th>Rest Period</th>
        </tr>
        <tr>
          <td>1</td>
          <td>1 kg</td>
          <td>10</td>
          <td>1m 0s</td>
        </tr>
        <tr>
          <td>1</td>
          <td>1 kg</td>
          <td>10</td>
          <td>1m 0s</td>
        </tr>
        <tr>
          <td>1</td>
          <td>1 kg</td>
          <td>10</td>
          <td>1m 0s</td>
        </tr>
      </table>
    </ion-grid>
  </div>


  <div [hidden]="workouts != 'RECORD'">
    <ion-grid>
      <ion-item>
        <ion-label>Record Date</ion-label>
        <ion-datetime displayFormat="MMM DD YYYY" [(ngModel)]="recordDate"></ion-datetime>
      </ion-item>
    </ion-grid>

    <ion-grid *ngFor="let wCategory of workoutCategories">
      <ion-grid>
        <ion-row (click)="viewMoreInfoAboutExercise()">
          <ion-col>
            <div><img src="../../assets/imgs/YellowishAgedBabirusa-size_restricted.gif"></div>
          </ion-col>
          <ion-col>
            <div style="font-size: 21px; color: #037aff; padding-top: 40px;">{{wCategory.name | uppercase}}</div>
          </ion-col>
          <ion-col>
            <div style="padding-top: 40px;"><button ion-button small>More Info</button></div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <table>
          <tr>
            <th>Sets</th>
            <th>Weight</th>
            <th>Reps</th>
            <th>Rest Period</th>
            <th>
              <ion-icon name="checkbox-outline"></ion-icon>
            </th>
          </tr>
          <tr>
            <td>1</td>
            <td>1 kg</td>
            <td>10</td>
            <td>1m 0s</td>
            <td>
              <ion-checkbox [checked]="false"></ion-checkbox>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>1 kg</td>
            <td>10</td>
            <td>1m 0s</td>
            <td>
              <ion-checkbox [checked]="false"></ion-checkbox>
            </td>
          </tr>
          <tr>
            <td>1</td>
            <td>1 kg</td>
            <td>10</td>
            <td>1m 0s</td>
            <td>
              <ion-checkbox [checked]="false"></ion-checkbox>
            </td>
          </tr>
        </table>
      </ion-grid>
    </ion-grid>

  </div>


</ion-content>