page-forgot-password {
    .list-md .item-input:last-child {
        border-bottom: 0;
    }
    .item-inner {
        border-bottom: 1px solid #dedede!important;
    }
    .item-md {
        background: transparent;
        padding-left: 0;
    }
    .item {
        background-color: #fff0;
    }
}
