<ion-header>
  <ion-navbar color="gymHeader">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Club Workouts</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bg-image">
    <div><h1 style="color:white; text-align: center;">Coming Soon...</h1></div>
</ion-content>
