page-my-profile {
    th, td {
        padding: 5px;
    }
    table {
        width: 100%;
    }
    .divTable {
        border: 2px;
        border-style: solid;
        border-color: black;
        border-radius: 8px;
    }
    .txtBold {
        font-weight: bold;
    }
    

    // ion-input {
    //     input {
    //       text-align: right;
    //       /* IF YOU ALSO WANT TO PUSH PLACHEHOLDER TO THE RIGHT USE THE FOLLOWING, IF NOT JUST DELETE THE ::-webkit-input-placeholder*/
    //       ::-webkit-input-placeholder {
    //         text-align: right;
    //       }
    //     }
    //   }

      page-home {

        button {
           // align-items: baseline;
        }

    }

    .ion-ios-navbar,.ion-md-navbar {
      content: url('../../assets/icon/all_icons/nav-bar.png');
      width: 32px;
      height: 32px;
      padding: 6px 4px 2px;
      opacity: 0.9;
    }
    
    /*css for profile page*/
    .position-relative {
      position: relative;
    }
    button.add-btn-profile {
      position: absolute;
      bottom: -10px;
      left: 50%;
      background: #ff5e3a;
      color: #fff;
      border-radius: 50px;
      padding: 13px;
  }
  .p-0.card-4.grid {
    padding: 0;
}
.p-0.card-4.grid .card  {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
input {
  color: #535353!important;
}
.card-header {
  background: url('../../assets/icon/all_icons/drop-down-arrow.png') #f4f4f4 90% center no-repeat;
  color: gray;
  text-transform: uppercase;
  font-size: 14px;
}
.border-bottom-gray {
  border-bottom: 2px solid #e5e5e5;
}
table.table thead tr th {
  text-align: left;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table>thead:first-child>tr:first-child>th {
  border-top: 0;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>td {
  border: 1px solid #ddd;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
  // content css
  .scroll-content {
    padding: 0!important;
}

.edit-button{
  top: 0px;
}
.edit-button .icon{
  color:#ff5e3a; 
  font-size: 20px;
}
.font-size-16.grid .label {
  font-size: 17px;
  color: gray;
}
    
}
