page-membership-plan {
    .ion-ios-navbar,.ion-md-navbar {
        content: url('../../assets/icon/all_icons/nav-bar.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      .membership-plan{
        box-shadow: none;
        border-bottom: 1px solid #dcdcdf;
      }

      .p-0 {
        padding: 0;
      }

      .segment-md-danger .segment-button {
        font-size: 14px;
        color: #535353;
        padding: 0;
      }
}
