<!--
  Generated template for the ScheduleMeetingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center>SCHEDULED MEETING</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="divCalendar" padding>
    <table>
      <tr>
        <td><h5 align="center"><b>Scheduled Meeting with the Trainer</b></h5></td>
      </tr>
      <tr>
        <td><h6  align="center"><b>20-March-2019 05:00PM</b></h6></td>
      </tr>
    </table>
  </div>
</ion-content>
