<!--
  Generated template for the MyWorkoutPlanTodayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--
  Generated template for the MyWorkoutPlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

    <ion-navbar>
      <ion-title text-center>MY WORKOUT PLAN</ion-title>
    </ion-navbar>
  
  </ion-header> -->
<ion-header>
  <ion-navbar>
    <button class="custom-nav-icon" ion-button menuToggle>
      <ion-icon name="navbar"></ion-icon>
    </button>
    <ion-title text-center>MY WORKOUT PLAN</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding color="gymContent">
  <ion-grid class="workout-header">
    <hr>

  
     <ion-slides>
      <ion-slide (swipe)="swipeEvent($event)">
        <div text-center>
          <button size="large" class="button-left float-left" ion-button color="light" small icon-start
            (click)="previousButton(selectedDate)">
            <ion-icon class="icon-nutrition" name='ios-arrow-dropleft-circle'></ion-icon>
          </button>
          <div text-center class="date-header">
            {{selectedDate | date:'EEEE, d MMMM y'}}
          </div>
          <button size="large" class="button-right float-right" ion-button color="light" small icon-end
            (click)="nextButton(selectedDate)">
            <ion-icon class="icon-nutrition" name='ios-arrow-dropright-circle'></ion-icon>
          </button>
        </div>
      </ion-slide>
    </ion-slides>
   
    <hr>
  </ion-grid>


  <!--<ion-card *ngFor="let exercise of workouts" style="background: white; padding-top: 0px" class="card-vertical"
    (click)="viewMoreInfoAboutExercise(exercise)">

    <ion-grid>
      <ion-row>
        <ion-col col-10 style="text-align: left; top: -5px; font-size: 20px;">
          {{exercise.exerciseName}}
          
        </ion-col>
        <ion-col col-2>
          <ion-checkbox class="checkbox-right" [checked]="isChecked" [(ngModel)]="exercise.checkedCompleted"
            (click)="checkedCount(exercise)"></ion-checkbox>
        </ion-col>
        <ion-row>
          <ion-col col-4 *ngFor="let ex of exercise.param.ParamValue">
            {{ex}}
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-grid>
  </ion-card>-->
   <ion-card style="background: white" class="card-vertical" *ngFor="let exercise of supersetWorkouts; let i = index">

    <div class="superset-marking" *ngIf= "exercise?.length > 1">

      <label style="background-color: #ff5e3a; color: white;">Supersets</label>
    </div>
    <div class="position-relative">
      <ion-checkbox class="checkbox-right-superset" [checked]="isChecked" [(ngModel)]="exercise[0].checkedCompleted"
        (click)="checkedCountForSuperSet(exercise, exercise[0].checkedCompleted)">
      </ion-checkbox>
    </div>


    <ion-grid class="grid-position" *ngFor="let singleExe of exercise"
      (click)="viewMoreInfoAboutExerciseSuperset(singleExe, isCheckedSuperset)">
      <ion-row>
        <ion-col col-10 style="font-size: 20px;">{{singleExe.exerciseName}}
          <!-- <h3 style="padding-top: 12px;" *ngIf="singleExe.param1 != null">{{singleExe.param1}} {{singleExe.param1Uom}} |
            {{singleExe.param2}}
            {{singleExe.param2Uom}} | {{singleExe.param3}} {{singleExe.param3Uom}} </h3> -->
        </ion-col>
      </ion-row>
      <ion-row >
          <ion-col col-4 *ngFor="let ex of singleExe.param.ParamValue">
              {{ex}}
          </ion-col>
      </ion-row>

      <ion-grid *ngIf="singleExe.remarks">
       <label style="font-family: 'AvenirLTStd-Black';">Note:</label>
       {{singleExe.remarks}}
      </ion-grid>

      
    </ion-grid>
  </ion-card>

  <ion-grid style="padding-top: 0px;">
    <p class="bottom-text">{{countTotalChecked}} exercises selected </p>
  </ion-grid>

  <!--<ion-card style="background: white" class="card-vertical" *ngFor="let exercise of supersetWorkouts; let i = index">
    <div class="superset-marking">

      <label style="background-color: #ff5e3a; color: white;">Supersets</label>
    </div>
    <div class="position-relative">
      <ion-checkbox class="checkbox-right-superset" [checked]="isChecked" [(ngModel)]="exercise[i].checkedCompleted"
        (click)="checkedCountForSuperSet(exercise, exercise[i].checkedCompleted)">
      </ion-checkbox>
    </div>


    <ion-grid class="grid-position" *ngFor="let singleExe of exercise"
      (click)="viewMoreInfoAboutExerciseSuperset(singleExe, isCheckedSuperset)">
      <ion-row>
        <ion-col col-10 style="text-align: left; top: -5px; font-size: 20px;">{{singleExe.exerciseName}}

        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-4 *ngFor="let ex of singleExe.param.ParamValue">
          {{ex}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-grid style="padding-top: 0px;">
    <p class="bottom-text">{{countTotalChecked}} exercises selected </p>
  </ion-grid>-->

  <!-- <ion-grid style="padding-top: 0px;">
    <p class="bottom-text">{{countTotalChecked}} exercises selected <ion-icon name="ios-arrow-up"></ion-icon>
    </p>
  </ion-grid> -->

  <ion-grid style="padding-top: 0px;">
    <ion-row>
      <ion-col col-6>
        <button class="buttonMargin cRadius mt-0"
          style="font-size: larger; color: white; background-color: #5856d6; right: -26px;" ion-button
          (click)="onCheckMultiple(1)">SELECT ALL</button>
      </ion-col>
      <ion-col col-6>
        <button class="buttonMargin cRadius mt-0"
          style="font-size: larger; color: white; background-color: #ff5e3a; right: -26px;" ion-button
          (click)="saveLog()">DONE</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>