<ion-tabs color="gymHeader">
  <ion-tab [root]="paymentsDuesRoot" tabIcon="payments" tabTitle="Payments"></ion-tab>
  <ion-tab [root]="todaySWorkoutPage" tabIcon="workout" tabTitle="Home" ></ion-tab>
  <ion-tab [root]="profileRoot" tabIcon="profile" tabTitle="Profile"></ion-tab>
</ion-tabs>
