<ion-header>
    <ion-navbar color="gymHeader">
        <ion-title text-center>GRAPH</ion-title>
    </ion-navbar>
</ion-header>


<!--<ion-content padding class="bg-image">-->
<ion-content color="gymContent">

    <ion-list class="graph-fild">
        <div>
            <a ion-item (click)="openModal({charNum: 0, assessment: this.assessment})">
                Weight
                <ion-icon class="icon-position" name="ios-arrow-forward"></ion-icon>

            </a>
        </div>

        <div>
            <a ion-item (click)="openModal({charNum: 1, assessment: this.assessment})">
                Girth
                <ion-icon class="icon-position" name="ios-arrow-forward"></ion-icon>
            </a>
        </div>

        <div>
            <a ion-item (click)="openModal({charNum: 2, assessment: this.assessment})">
                Skin Folds
                <ion-icon class="icon-position" name="ios-arrow-forward"></ion-icon>
            </a>
        </div>

        <div>
            <a ion-item (click)="openModal({charNum: 3, assessment: this.assessment})">
                Water %
                <ion-icon class="icon-position" name="ios-arrow-forward"></ion-icon>
            </a>
        </div>

        <div>
            <a ion-item (click)="openModal({charNum: 4, assessment: this.assessment})">
                BMI
                <ion-icon class="icon-position" name="ios-arrow-forward"></ion-icon>
            </a>
        </div>

        <div>
            <a ion-item (click)="openModal({charNum: 5, assessment: this.assessment})">
                Body fat %
                <ion-icon class="icon-position" name="ios-arrow-forward"></ion-icon>
            </a>
        </div>

        <div>
            <a ion-item (click)="openModal({charNum: 6, assessment: this.assessment})">
                Lean Mass
                <ion-icon class="icon-position" name="ios-arrow-forward"></ion-icon>
            </a>
        </div>

    </ion-list>
</ion-content>