<!--
  Generated template for the PlayVideoModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title text-center style="font-size: 12px;">
      VIDEO
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <h4>{{dateWiseExerciseDetailObj.exerciseName}} </h4>
  <iframe width="100%" height="315" [src]="embedLink" frameborder="0" allowfullscreen></iframe>
</ion-content>