page-today-s-workout-new {
    .ion-ios-header_notification-bell,.ion-md-header_notification-bell {
        // content: url('../assets/icon/menuIcon/k-log-out.png');
        content: url('../assets/icon/all_icons/notification-bell.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 1.0;
    }

    td, th {
        padding: 0;
        text-align: center;
    }

    .grid-font-change-workout{
        font-size: 16px;
        color: white;
        top: 16px;

    }
    .grid-header{
        border: solid;
        border-width: thin;
        border-color: #585858;
    }

    .card-background-page {

        ion-card {
          position: relative;
          text-align: center;
        }
      
        .card-title {
                position: absolute;
                top: 4%;
                font-size: 1.5em;
                width: 100%;
                font-weight: bold;
                color: #fff;
                text-align: left;
                padding-left: 14px;
          
        }
      
        .card-subtitle {
          font-size: 1.0em;
          position: absolute;
          top: 15%;
          width: 100%;
          color: #fff;
          text-align: left;
          padding-left: 14px;
        }

        .card-subtitle-nutrition{
        font-size: 1.0em;
          position: absolute;
          top: 75%;
          width: 100%;
          color: #fff;
          text-align: left;
          padding-left: 14px;
        }

        .grid-font-change-nutrition {
            font-size: 16px;
            top: -8px;
            color: white;
        }
      
      }
   
      progress-bar .progress-outer {
        width: 96%;
        height: 16px;
        margin: 10px 2%;
        padding: 3px;
        //text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
       
    }

    progress-bar .progress-inner {
        min-width: 0%;
        height: 3px;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: #488aff;
        padding-bottom: inherit;
    }
    .grid-font-change-workout-progressbar{
        top: 10px;
        font-size: 16px;
        color: white;
    }

    .grid-header .grid-header-call{
        border: solid;
        border-width: thin;
        border-color: #585858;
    }

     h5 {
        font-size: 1.8rem;
        padding-top: 10px;
    }
    .date{
        top: -9px;
    }

    button.segment-activated {
        border-color: #f53d3d;
        color: #f53d3d;
        opacity: 1;
    }
    .segment-md-danger .segment-button {
        color: #343434;
    }

    .home-header{
        background-color: #5855d6;
        height: 150px;
    }

    .home-profile{
        text-align: center;
        font-size: 18px;
        color: gray;
    }
    .home{
        text-align: center;
        font-size: 18px;
        color: gray;
    }

    .ion-ios-notification,.ion-md-notification {
        content: url('../../assets/icon/homeTabIcon/icon2.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }

      .ion-ios-navbar,.ion-md-navbar {
        content: url('../../assets/icon/all_icons/nav-bar.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }
      

      [col-12] {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        width: 100%;
        max-width: 100%;
        top: -11px;
      }
      
      .segment-md-danger .segment-button {
        font-size: 14px;
        color: #535353;
        padding: 0;
    }
    .workout-box .card-title {
        padding-left: 5px;
    }
    .workout-box .card-subtitle {
        padding-left: 5px;
    }
    p.font-20.color-gray.font-roman {
        padding: 0;
        margin: 0;
    }
    .progress-outer {
        background-color: transparent!important;
    }
    .text-center-80 {
        position: relative;
    }
    .text-center-80 span {
        position: absolute;
        bottom: 0;
        background: #f4f4f4;
        padding: 5px 10px;
        border-radius: 15px;
        width: 54%;
        left: 20%;
        text-align: center;
    }
    .scroll-content {
        padding: 0!important;
        margin-bottom: 40px!important;
    }
    .grid {
        padding: 0;
    }

    // header css
    .toolbar-title-ios, .toolbar-title-md, .toolbar-title-wp {
        text-align: center;
    }
    button.custom-notifaction-icon.button-default-md, button.custom-notifaction-icon.button-default-wp{
        background: transparent;
        padding: 0;
        margin: 0;
        box-shadow: none;
        height: inherit;
        position: absolute;
        top: 10px;
        right: 14px;
    }
    button.custom-notifaction-icon.button-default-ios {
        background: transparent;
        padding: 0;
        margin: 0;
        box-shadow: none;
        height: inherit;
        position: absolute;
        top: 20px;
        right: 14px;
    }

    //for top picks
    .center{
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .swiper-slide .club-workouts img {
        height: auto;
        width: 70%;
    }
    .swiper-slide .club-workouts .card-title {
        position: inherit;
        color: #222;
    }
    .workouts img {
        height: 150px;
        width: 100%;
    }
    // // css for scrolling
    .workouts, .club-workouts {
        max-height: 1100px;
        overflow: scroll;
    }

    .card-shape-change{
        border-radius: 10px;
    }
    .club-workout-title{
        font-size: 17px; 
        font-family: 'AvenirLTStd-Black';
        text-align: left;
    }
    .club-workout-description{
        font-size: 15px; 
        text-align: left;
    }

    .club-workout-view-more {
        background: linear-gradient(180deg, #fff 70%, #f4f4f4 30%);
        padding-bottom: 7.5px;
        padding-top: 0;
        position: relative;
      }
      .club-workout-view-more span{
        color: #ff5e3a;
        text-align: left;

      }
      .club-workout-view-more span {
        display: block;
        padding: 6.5px 0 0 0;
    }
    .club-workout-view-more span .view-more-icon {
        position: absolute;
        bottom: 8px;
        left: 90px;
    }
    .ion-ios-menu_workouts,.ion-md-menu_workouts {
        // content: url('../assets/icon/menuIcon/e-Today\'s\ workout.png');
        content: url('../assets/icon/all_icons/workout-icon.png');
         width: 32px;
         height: 32px;
         padding: 6px 4px 2px;
         opacity: 1.0;
     }
     .ion-ios-menu_progress,.ion-md-menu_progress {
        // content: url('../assets/icon/menuIcon/d-track\ progress.png');
        //content: url('../assets/icon/all_icons/progress-icon.png');
        content: url('../assets/icon/all_icons/graph-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 1.0;
        
    }
    .ion-ios-menu_nutrition,.ion-md-menu_nutrition {
        //content: url('../assets/icon/menuIcon/f-view-nutrition-plan.png');
        content: url('../assets/icon/all_icons/diet-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 1.0;
    }
}
