page-my-calendar-tabs {
    .ion-ios-workout,.ion-md-workout,.ion-ios-workout-outline {
        //content: url('../../assets/icon/homeTabIcon/icon1.png');
        content: url('../../assets/icon/all_icons/home-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
    }   

    .ion-ios-progress,.ion-md-progress,.ion-ios-progress-outline {
        // content: url('../../assets/icon/homeTabIcon/icon4.png');
        //content: url('../../assets/icon/all_icons/progress-icon.png');
        content: url('../../assets/icon/all_icons/graph-icon.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
    }

    .ion-ios-calendar,.ion-md-calendar,.ion-ios-calendar-outline {
        //content: url('../../assets/icon/homeTabIcon/icon3.png');
        content: url('../../assets/icon/all_icons/calenda.png');
        width: 32px;
        height: 32px;
        padding: 6px 4px 2px;
        opacity: 0.9;
      }

}
